# Byte-compiled / optimized files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# IDE settings
.vscode/
.idea/

# Distribution / packaging
dist/
build/
*.egg-info/

# OS files
.DS_Store
Thumbs.db
